.footer {
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid #e1e1e1;
}
.footer-box {
	width: 1000px;
	margin:0 auto;
	overflow: hidden;
}
.footer-logo {
	float: left;
} 
.footer-logo img {
	width: 170px;
	margin-top: 5px;
}
.footer-box ul {
	float: right;
}
.footer-box ul li {
	float: left;
	margin: 0 5px;
}
.bq {
	text-align: center;
	line-height: 34px;
	color: #c1c1c1;
}