.header {
	width: 100%;
	height: 60px;
	background-color: #44495f; 
	color: #fff;
}
.header-box {
	width: 1000px;
	margin: 0 auto;
}
.logo {
	float: left;
	margin-top: 20px;
}
.logo img {
	width: 220px;
}
.txt {
	position: relative;
	float: right;
	line-height:60px; 
}
.txt li{
	float: left;
	margin-right: 15px;
	color: #e1e1e1;
}
.txt li:first-child {
	margin-right: 30px;
}
.txt li:last-child {
	margin-right: 0;
}
.txt .sanjiao {
	position: absolute;
	top: 28px;
	right: 0;
	display:inline-block;
	content: "";
	width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #fff;
}
.last {
	cursor: pointer;
}
.list {
	position: absolute;
	top: 50px;
	right: -5px;
	background-color: #44495f; 
	padding: 10px 10px;
	z-index: 10;
}
.list p {
	text-align: center;
	clear: both;
	line-height: 30px;
	margin-right: 0;
}
.list p {
	cursor: pointer;
}

.select a{
	color: #fff;
	margin: 0 5px;
}
.select a.active{
	color: #00a0e9;
}