

body{
	font-family:"微软雅黑";
	font-size:14px;	
}

.active {
	color: #FD831B;
}


.content {
	width: 1000px;
	margin: 30px auto;
}
.list-left {
	float: left;
	width: 200px;
	padding:0 15px;
	border: 1px solid #e1e1e1;
}
.list-left ul li {
	position: relative;
	margin: 20px 0 30px 0;
	color: #333;
	font-size: 16px;
}
.list-left ul li:after {
	position: absolute;
	right: 0;
	top: 7px;
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	border-top:1px solid #999;
	border-right: 1px solid #999;
	transform: rotate(45deg);
}
.list-left ul li dl { margin-top:10px; overflow: hidden;}
.list-left ul li dl dt {
	float: left;
	font-size: 14px;
	color: #999;
	line-height: 26px;
	margin-right: 20px;
}

.list-right {
	float: right;
	margin-left: 30px;
	width: 750px;
}
.list-right  .adv {
	width: 100%;
	height: 150px;
	background-image: url(../imgs/bg3.jpg);
	background-size:100%;
	background-repeat: no-repeat;
	overflow: hidden;
}
.search {
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.search input{
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	outline: none;
	border: 1px solid #00a0e9;
	padding-left: 20px;
}
.search-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #00a0e9;
}
.hot {
	margin-top: 10px;
}
.hot a{
	margin-right: 20px;
	color: #00a0e9;
}

.job {
	margin-top: 20px;
}
.job .title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #F6F6F6;
}
.job .title span {
	display: inline-block;
	padding: 0 20px;
	height: 40px;
}
.job .title span.on {
	border-top: 2px solid #00a0e9;
	background-color: #fff;
}

.job-con {
	margin-top: 40px;
}
.job-con li div {overflow: hidden; padding-left: 20px;} 
.job-con  .biaoti {
	float: left;
	font-size: 16px;
	color: #00a0e9;
}
.job-con li {
	border: 1px solid #e1e1e1;
	padding: 20px 0 0 0;
	margin-top: 20px;
}
.job-con .btn {
	position: relative;
	width: 100%;
	height: 46px;
	line-height: 46px;
	margin-top: 10px;
	background-color: #FAFAFA;
	cursor: pointer;
}
.job-con .btn:after {
	position: absolute;
	right: 20px;
	top: 20px;
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-top:1px solid #999;
	border-right: 1px solid #999;
	transform: rotate(45deg);
}
.time {
	font-size: 14px;
	color: #999;
	margin-left: 20px;
}
.company {
	float: left;
	font-size: 16px;
	color: #333;
	margin-left: 300px;
}
.con2 {
	margin-top: 10px;
}
.salary {
	font-size: 14px;
	color: #FD8239;
}

.page ol {
	margin-top: 20px;
}

.page ol li {
	float: left;
	margin: 5px;
	padding:3px 10px;
	border-radius: 3px;
	color: #666;
	cursor: pointer;
}
.page ol li.on {
	background-color: #00a0e9;
	color: #fff;
	border: 1px solid #00a0e9;
}
.page .kuang {
	border: 1px solid #999;
}
.page .kuang:hover {
	border: 1px solid #00a0e9;
}